[submodule "backend"]
	path = backend
	url = git@github.com:dunglv202-dev/techmaster-cinema-be.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:dunglv202-dev/techmaster-cinema-fe.git
